n8n_contexto/CHAT IA _ CHAT MAIN.json
{
  "name": "CHAT IA | CHAT MAIN",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=\"{{ $('Merge').first().json.body.text }}\" Usa isso como contexto e faz essa requisição do user ( {{ $('Merge').first().json.body.comando }} ) com base no texto",
        "options": {
          "systemMessage": "=Você é o Orquestrador Central da Sala, sua única função é acionar a ferramenta correta para processar o conteúdo que está sendo falado e transcrito, enviando os dados em um protocolo de formatação estrito.\nIDENTIFICADOR DA SALA: {{ $json.body.classroom_id }}\n\nToda vez que você chamar uma tool, a resposta dela vai conter uma tag de identificação no topo do texto (a primeira coisa),\n`[TYPE:TAG] || CLASSROOM_ID: (classroom_id)`,\nessa tag não deve ser modificada e é obrigatória ser a primeira coisa na resposta de saída.\n\nRegras:\n1. Você NÃO sabe nada de cabeça. Todo o conhecimento deve vir da recuperação de dados da transcrição.\n2. Você NÃO responde perguntas de conteúdo diretamente.\n3. Você NÃO gera quizzes ou resumos manualmente. Use sempre as tools apropriadas.\n4. Em casos de envio como \"oi\", \"olá\", responda educadamente, lembrando que você está focado na aula.\n5. Não modifique nada na resposta das tools.\n\nTools Disponíveis (MCP Server):\n1. consultar_material\n   - O que faz: Realiza buscas PONTUAIS na transcrição para responder dúvidas específicas ou localizar conceitos isolados.\n   - Quando usar: Perguntas diretas de conteúdo (\"O que é X?\", \"Como funciona Y?\", \"fale sobre X de determinado arquivo\", \"Procure sobre Z\", \"Consulta R\"), pedidos de explicação de um termo específico ou citações. NÃO use para pedidos de visão geral.\n\n2. gerar_quiz\n   - O que faz: Cria avaliações baseadas no texto fornecido.\n   - Quando usar: Pedidos de \"Quiz\", \"Questões\", \"Prova\", \"atividade\" sobre a aula.\n\n3. gerar_resumo\n   - O que faz: Processa o conteúdo de forma ABRANGENTE para criar uma síntese estruturada dos tópicos.\n   - Quando usar: Solicitações de visão macro (\"Resuma a aula\", \"Quais foram os pontos principais?\", \"Me dê uma síntese\", \"Recapitule o assunto\", \"Faça um fichamento\"). NÃO use para perguntas sobre um único conceito."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -720,
        368
      ],
      "id": "a10a7ba2-e2f9-46ed-bfdb-2d9d1fec7b93",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=\n  {\n    \"query\": \"{{ $json.chatInput }}\",\n    \"classroom_id\": \"farmacologia\",\n    \"teste\": \"teste1\"\n  }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        224
      ],
      "id": "1462ca05-bbc0-45de-926c-5bb3906ae782",
      "name": "preparar valores teste"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -2592,
        224
      ],
      "id": "11a12b86-d3b4-4936-95e4-a70d9e7a97b1",
      "name": "When chat message received",
      "webhookId": "40b4b147-6d1e-4e81-9ed3-8029aba32e50",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1184,
        368
      ],
      "id": "481739ed-b7e3-4beb-87d7-ac3bef51dfea",
      "name": "Merge"
    },
    {
      "parameters": {
        "endpointUrl": "https://jrbp-n8n-server.hf.space/mcp/8c6390c6-9c7e-42c4-8e88-525fc89d1197",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -48,
        480
      ],
      "id": "2f8524dc-bcf3-48bf-8f1f-7d554c709e0a",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        0
      ],
      "id": "3be89f91-6934-45ca-87aa-2e354657f1a5",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1152,
        832
      ],
      "id": "e76e6185-2318-4fb9-a1b6-4d4ae8f28824",
      "name": "gemini orq",
      "credentials": {
        "googlePalmApi": {
          "id": "wqvadAWFXsC1UYBy",
          "name": "Google key Betobp"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ativa-ia",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2208,
        560
      ],
      "id": "4a03c396-acdd-4ed8-938c-f4a1cef78611",
      "name": "Webhook",
      "webhookId": "e7970b8b-b10c-4320-ac07-1e9e1ef8b611"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -816,
        784
      ],
      "id": "ee9f0338-7304-4f77-af50-96e2d91d41fa",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2s6eKDYc5QrLBhxy",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "preparar valores teste": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "preparar valores teste",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gemini orq": {
      "ai_languageModel": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "f2a9a3f3-806a-47d4-90c5-103bbfae6636",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a8e0f55d1edf7e085c6388718996112d320b6942de89a26aa2ceeb69d9abffc"
  },
  "id": "9Z3BEbzTAMv8TDfTtPNIy",
  "tags": [
    {
      "updatedAt": "2026-01-14T22:39:12.025Z",
      "createdAt": "2026-01-14T22:39:12.025Z",
      "id": "20oy9wiNWimI7e8G",
      "name": "CHAT IA"
    }
  ]
}