n8n_contexto/TOOL - GERAR RESUMO.json
{
  "name": "TOOL - GERAR RESUMO",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "identifier"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        272,
        352
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Questão do Usuário:\n{{ $json.text }}",
        "options": {
          "systemMessage": "você só resume de forma clare e objetiva, sem markdown\n\nretorne o resultado em texto corrido, sem markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        976,
        352
      ],
      "id": "7963f29d-8c2f-4934-97a9-577a02adb3f1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        992,
        720
      ],
      "id": "539b4c7e-d591-4585-9616-793c403e812b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "2s6eKDYc5QrLBhxy",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "32ac9345-3ff2-49fe-ba8a-4c48ad1b5c1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a8e0f55d1edf7e085c6388718996112d320b6942de89a26aa2ceeb69d9abffc"
  },
  "id": "76FPE4cln04WYECA",
  "tags": []
}