n8n_contexto/TOOL - UPLOAD ARQUIVO.json
{
  "name": "TOOL - UPLOAD ARQUIVO",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-aula",
        "responseMode": "lastNode",
        "responseData": "firstEntryBinary",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        2864,
        1616
      ],
      "id": "e15e8612-d2ec-4ca2-9f9f-67b67b285246",
      "name": "Webhook",
      "webhookId": "c431d3ed-a6f9-4bd6-941e-db07e98669d8"
    },
    {
      "parameters": {
        "chunkOverlap": 150,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        3808,
        1904
      ],
      "id": "d584d152-c5b0-49be-abc5-27cf94ff818d",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=classroom_id",
                "value": "={{ $('Webhook').first().json.body.classroom_id }}"
              },
              {
                "name": "source_filename",
                "value": "={{ $('Webhook').first().binary.file.fileName }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        3696,
        1664
      ],
      "id": "af0fa23b-60b8-427e-8e44-e3d58936b9b5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        3248,
        1968
      ],
      "id": "43129558-fd8e-40b8-a943-161c20eeaef5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2s6eKDYc5QrLBhxy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "embeddingBatchSize": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        3504,
        1488
      ],
      "id": "b427c135-bcca-47b5-b5bf-2f7519d48a5a",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "v8HbLT84CCDmBM8y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c8adb4f8-8ac1-497d-9ff1-723756b9b735",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2320,
        1488
      ],
      "id": "9aa2f571-0fe3-4cdd-af6f-49f1b54fc46b",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "searchMethod": "query",
        "queryString": "=name = '{{$json.body.classroom_id}}' and mimeType = 'application/vnd.google-apps.folder' and trashed = false",
        "limit": 1,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1FmUt0t9Yroa0BpzJI4kz_fq-tgv4pJi4",
            "mode": "list",
            "cachedResultName": "backup_ativa",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1FmUt0t9Yroa0BpzJI4kz_fq-tgv4pJi4"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2208,
        1648
      ],
      "id": "ae9edab4-d3bf-4b8d-8114-91c874c5d0dd",
      "name": "Search files and folders",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bkrgzQ7NtyvqU0zV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{$node[\"Webhook\"].json.body.classroom_id}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1FmUt0t9Yroa0BpzJI4kz_fq-tgv4pJi4",
          "mode": "list",
          "cachedResultName": "backup_ativa",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FmUt0t9Yroa0BpzJI4kz_fq-tgv4pJi4"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2448,
        1568
      ],
      "id": "c5071f03-40d7-45b8-a6c5-0dcec58b4d45",
      "name": "Create folder1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bkrgzQ7NtyvqU0zV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "file",
        "name": "={{$binary.file.fileName}}",
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "={{$node[\"Merge\"].json[\"folderId\"]}}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3488,
        976
      ],
      "id": "bfdf3101-a45b-4f7f-b663-11b8dbd7a351",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bkrgzQ7NtyvqU0zV",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "067ed991-424f-4617-8cb5-e3db4a79339d",
              "name": "folderId",
              "value": "={{$json.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2624,
        1312
      ],
      "id": "aaf87b78-0094-485e-b24c-de4941456e79",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c6c83e1-bdc2-4267-9789-a2c3ad9e415b",
              "name": "folderId",
              "value": "={{$json.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2480,
        1152
      ],
      "id": "faafc08c-1717-46dc-9af2-d1cd3c0277e0",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3008,
        1344
      ],
      "id": "2d3e51d2-8786-4637-aeb9-1063a5970083",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3168,
        1056
      ],
      "id": "a696f066-e6ec-44d3-bca7-b219c1328c96",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          },
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create folder1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "ff617e11-73aa-428a-8f75-aa9179923dde",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a8e0f55d1edf7e085c6388718996112d320b6942de89a26aa2ceeb69d9abffc"
  },
  "id": "n2Kg9xTkYI5FCWsEKNJzD",
  "tags": [
    {
      "updatedAt": "2026-01-14T22:39:12.025Z",
      "createdAt": "2026-01-14T22:39:12.025Z",
      "id": "20oy9wiNWimI7e8G",
      "name": "CHAT IA"
    },
    {
      "updatedAt": "2026-01-14T22:40:07.447Z",
      "createdAt": "2026-01-14T22:40:07.447Z",
      "id": "2rh1PYqoejrIBT5y",
      "name": "TOOL"
    }
  ]
}