n8n_contexto/TOOL - EXIBIR DOCUMENTO (CORRETO).json
{
    "name": "TOOL - EXIBIR DOCUMENTO (Com temp_documents)",
    "nodes": [
        {
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "classroom_id"
                        },
                        {
                            "name": "filename"
                        },
                        {
                            "name": "presentation_code"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                0
            ],
            "name": "Execute Workflow Trigger"
        },
        {
            "parameters": {
                "mode": "retrieve",
                "tableName": {
                    "__rl": true,
                    "value": "documents",
                    "mode": "list"
                },
                "topK": 100,
                "options": {
                    "metadata": {
                        "metadataValues": [
                            {
                                "name": "classroom_id",
                                "value": "={{ $json.classroom_id }}"
                            },
                            {
                                "name": "source_filename",
                                "value": "={{ $json.filename || 'GUIA TURBO - FISIOTERAPIA - FARMACOLOGIA.pdf' }}"
                            }
                        ]
                    }
                }
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
            "typeVersion": 1.3,
            "position": [
                200,
                0
            ],
            "name": "Buscar Documento do Supabase",
            "credentials": {
                "supabaseApi": {
                    "id": "v8HbLT84CCDmBM8y",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                200,
                200
            ],
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "2s6eKDYc5QrLBhxy",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Agrupar chunks\nconst chunks = items.map((item, index) => ({\n  chunk_index: index,\n  content: item.json.pageContent,\n  metadata: item.json.metadata\n}));\n\nconst presentationCode = $('Execute Workflow Trigger').first().json.presentation_code;\nconst filename = $('Execute Workflow Trigger').first().json.filename || 'GUIA TURBO - FISIOTERAPIA - FARMACOLOGIA.pdf';\nconst classroomId = $('Execute Workflow Trigger').first().json.classroom_id;\n\nreturn [{\n  json: {\n    classroom_id: classroomId,\n    filename: filename,\n    presentation_code: presentationCode,\n    document_data: {\n      filename: filename,\n      classroom_id: classroomId,\n      total_chunks: chunks.length,\n      chunks: chunks\n    }\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                400,
                0
            ],
            "name": "Preparar Dados"
        },
        {
            "parameters": {
                "url": "https://gktqtgswqtjfsihvgbmu.supabase.co/rest/v1/temp_documents",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "classroom_id",
                            "value": "=eq.{{ $json.classroom_id }}"
                        },
                        {
                            "name": "filename",
                            "value": "=eq.{{ $json.filename }}"
                        },
                        {
                            "name": "select",
                            "value": "id"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                600,
                0
            ],
            "name": "Verificar se Documento Existe",
            "credentials": {
                "supabaseApi": {
                    "id": "v8HbLT84CCDmBM8y",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict"
                    },
                    "conditions": [
                        {
                            "id": "condition1",
                            "leftValue": "={{ $json.length }}",
                            "rightValue": 0,
                            "operator": {
                                "type": "number",
                                "operation": "equals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2,
            "position": [
                800,
                0
            ],
            "name": "Documento Existe?"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://gktqtgswqtjfsihvgbmu.supabase.co/rest/v1/temp_documents",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify($('Preparar Dados').first().json) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                -100
            ],
            "name": "Inserir Novo Documento",
            "credentials": {
                "supabaseApi": {
                    "id": "v8HbLT84CCDmBM8y",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "method": "PATCH",
                "url": "=https://gktqtgswqtjfsihvgbmu.supabase.co/rest/v1/temp_documents?id=eq.{{ $('Verificar se Documento Existe').first().json[0].id }}",
                "authentication": "predefinedCredentialType",
                "nodeCredentialType": "supabaseApi",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "Prefer",
                            "value": "return=representation"
                        }
                    ]
                },
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={{ JSON.stringify({ document_data: $('Preparar Dados').first().json.document_data }) }}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.2,
            "position": [
                1000,
                100
            ],
            "name": "Atualizar Documento Existente",
            "credentials": {
                "supabaseApi": {
                    "id": "v8HbLT84CCDmBM8y",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const docData = items[0].json[0] || items[0].json;\nconst docId = docData.id;\nconst classroomId = docData.classroom_id;\nconst filename = docData.filename;\nconst totalChunks = docData.document_data?.total_chunks || 0;\n\nreturn [{\n  json: {\n    output: `[TYPE:DOCUMENT] || CLASSROOM_ID: ${classroomId}\\nDocumento \"${filename}\" preparado com ${totalChunks} chunks.\\nDOCUMENT_ID: ${docId}`\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                1200,
                0
            ],
            "name": "Resposta Otimizada"
        }
    ],
    "connections": {
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Buscar Documento do Supabase",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Documento do Supabase": {
            "main": [
                [
                    {
                        "node": "Preparar Dados",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Buscar Documento do Supabase",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Preparar Dados": {
            "main": [
                [
                    {
                        "node": "Verificar se Documento Existe",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Verificar se Documento Existe": {
            "main": [
                [
                    {
                        "node": "Documento Existe?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Documento Existe?": {
            "main": [
                [
                    {
                        "node": "Inserir Novo Documento",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Atualizar Documento Existente",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Inserir Novo Documento": {
            "main": [
                [
                    {
                        "node": "Resposta Otimizada",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Atualizar Documento Existente": {
            "main": [
                [
                    {
                        "node": "Resposta Otimizada",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true
}