n8n_contexto/TOOL - CONSULTAR MATERIAL.json
{
  "name": "TOOL - CONSULTAR MATERIAL",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "query"
            },
            {
              "name": "identifier"
            }
          ]
        }
      },
      "id": "93f1e019-e54c-46c5-bc05-6834a1225a43",
      "typeVersion": 1.1,
      "name": "exec prod",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        0,
        320
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"query\": \"{{ $json.chatInput }}\",\n  \"classroom_id\": \"Teste disciplina nova\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "169dd6a3-8ac5-4491-acc4-3c38883e3635",
      "name": "preparar valores teste"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        672,
        128
      ],
      "id": "21f717d5-e808-4d7d-abe0-b5eea981bb36",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Questão do Usuário:\n{{ $('Merge').first().json.query }};",
        "options": {
          "systemMessage": "voce pega o comando da query do usuario e manda puxa o assunto principal do que ele quer que pesquise no banco vetorial, retorne o resultado em texto corrido, sem markdown"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        128
      ],
      "id": "556ff8e2-6cd8-4bf2-b4f1-32910f8fea2c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1392,
        560
      ],
      "id": "4de8edd5-5360-4641-95ac-73779fefa8ca",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2s6eKDYc5QrLBhxy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "FONTE DE VERDADE ABSOLUTA. O assistente possui BLOQUEIO TOTAL de conhecimento interno. Você NÃO sabe nada sobre nenhum assunto (seja técnico, histórico ou científico) sem consultar esta ferramenta. É OBRIGATÓRIO chamar esta ferramenta antes de responder qualquer pergunta sobre 'resumos', 'conteúdo' ou explicações teóricas. Se não buscar aqui, sua resposta será rejeitada.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 10,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "classroom_id",
                "value": "={{ $json.identifier }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1264,
        368
      ],
      "id": "b7e176e9-a38b-4211-8dc6-2f19222564e6",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "v8HbLT84CCDmBM8y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1008,
        496
      ],
      "id": "521b2dad-ba88-4057-983d-dedfa7983e49",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "2s6eKDYc5QrLBhxy",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "exec prod": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "preparar valores teste": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "668929d6-74d9-4f04-9df7-0bcbd910f63f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3a8e0f55d1edf7e085c6388718996112d320b6942de89a26aa2ceeb69d9abffc"
  },
  "id": "KKwHZuLMW6JBi_ogosWfS",
  "tags": [
    {
      "updatedAt": "2026-01-14T22:39:12.025Z",
      "createdAt": "2026-01-14T22:39:12.025Z",
      "id": "20oy9wiNWimI7e8G",
      "name": "CHAT IA"
    },
    {
      "updatedAt": "2026-01-14T22:40:07.447Z",
      "createdAt": "2026-01-14T22:40:07.447Z",
      "id": "2rh1PYqoejrIBT5y",
      "name": "TOOL"
    }
  ]
}