n8n_contexto/TOOL - EXIBIR DOCUMENTO.json
{
    "name": "TOOL - EXIBIR DOCUMENTO",
    "nodes": [
        {
            "parameters": {
                "workflowInputs": {
                    "values": [
                        {
                            "name": "classroom_id"
                        },
                        {
                            "name": "filename"
                        },
                        {
                            "name": "presentation_code"
                        }
                    ]
                }
            },
            "type": "n8n-nodes-base.executeWorkflowTrigger",
            "typeVersion": 1.1,
            "position": [
                0,
                240
            ],
            "id": "trigger-1",
            "name": "Execute Workflow Trigger"
        },
        {
            "parameters": {
                "mode": "retrieve",
                "tableName": {
                    "__rl": true,
                    "value": "documents",
                    "mode": "list"
                },
                "topK": 100,
                "options": {
                    "metadata": {
                        "metadataValues": [
                            {
                                "name": "classroom_id",
                                "value": "={{ $json.classroom_id }}"
                            },
                            {
                                "name": "source_filename",
                                "value": "={{ $json.filename || 'GUIA TURBO - FISIOTERAPIA - FARMACOLOGIA.pdf' }}"
                            }
                        ]
                    }
                }
            },
            "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
            "typeVersion": 1.3,
            "position": [
                320,
                240
            ],
            "id": "supabase-vector-1",
            "name": "Buscar Chunks do Documento",
            "credentials": {
                "supabaseApi": {
                    "id": "v8HbLT84CCDmBM8y",
                    "name": "Supabase account"
                }
            }
        },
        {
            "parameters": {
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
            "typeVersion": 1.2,
            "position": [
                320,
                440
            ],
            "id": "embeddings-1",
            "name": "Embeddings OpenAI",
            "credentials": {
                "openAiApi": {
                    "id": "2s6eKDYc5QrLBhxy",
                    "name": "OpenAi account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Organizar chunks em seções\nconst chunks = items.map(item => ({\n  content: item.json.pageContent || item.json.content,\n  metadata: item.json.metadata || {}\n}));\n\n// Criar uma seção única com todo o conteúdo\nconst allContent = chunks.map(c => c.content).join('\\n\\n');\n\nconst sections = [{\n  section_id: 1,\n  title: \"Conteúdo Completo\",\n  content: allContent,\n  metadata: {}\n}];\n\nconst triggerData = $('Execute Workflow Trigger').first().json;\n\nreturn [{\n  json: {\n    presentation_code: triggerData.presentation_code,\n    content_type: 'document',\n    content_data: {\n      filename: triggerData.filename || 'GUIA TURBO - FISIOTERAPIA - FARMACOLOGIA.pdf',\n      classroom_id: triggerData.classroom_id,\n      total_sections: sections.length,\n      total_chunks: chunks.length,\n      sections: sections,\n      target_section: 1\n    }\n  }\n}];"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                640,
                240
            ],
            "id": "code-1",
            "name": "Organizar em Seções"
        },
        {
            "parameters": {
                "operation": "executeQuery",
                "query": "UPDATE presentation_sessions \nSET current_content = jsonb_build_object(\n  'type', '{{ $json.content_type }}',\n  'data', '{{ $json.content_data }}'::jsonb,\n  'timestamp', NOW()\n)\nWHERE code = '{{ $json.presentation_code }}' AND status = 'active'\nRETURNING *;",
                "options": {}
            },
            "type": "n8n-nodes-base.postgres",
            "typeVersion": 2.5,
            "position": [
                960,
                240
            ],
            "id": "postgres-1",
            "name": "Atualizar Apresentação (Postgres)",
            "credentials": {
                "postgres": {
                    "id": "CONFIGURE_POSTGRES_CREDENTIAL",
                    "name": "Supabase Postgres"
                }
            }
        },
        {
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "success-1",
                            "name": "success",
                            "value": true,
                            "type": "boolean"
                        },
                        {
                            "id": "message-1",
                            "name": "message",
                            "value": "Documento enviado para apresentação",
                            "type": "string"
                        },
                        {
                            "id": "total-chunks",
                            "name": "total_chunks",
                            "value": "={{ $('Organizar em Seções').item.json.content_data.total_chunks }}",
                            "type": "number"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                1280,
                240
            ],
            "id": "set-1",
            "name": "Resposta de Sucesso"
        }
    ],
    "connections": {
        "Execute Workflow Trigger": {
            "main": [
                [
                    {
                        "node": "Buscar Chunks do Documento",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Buscar Chunks do Documento": {
            "main": [
                [
                    {
                        "node": "Organizar em Seções",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Embeddings OpenAI": {
            "ai_embedding": [
                [
                    {
                        "node": "Buscar Chunks do Documento",
                        "type": "ai_embedding",
                        "index": 0
                    }
                ]
            ]
        },
        "Organizar em Seções": {
            "main": [
                [
                    {
                        "node": "Atualizar Apresentação (Postgres)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Atualizar Apresentação (Postgres)": {
            "main": [
                [
                    {
                        "node": "Resposta de Sucesso",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1"
    },
    "tags": [
        {
            "name": "CHAT IA"
        },
        {
            "name": "TOOL"
        }
    ]
}