n8n_contexto/TOOL - EXIBIR DOCUMENTO (Simplificado).json
{
  "name": "TOOL - EXIBIR DOCUMENTO (Simplificado)",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {"name": "classroom_id"},
            {"name": "filename"},
            {"name": "presentation_code"}
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "mode": "retrieve",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list"
        },
        "topK": 100,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "classroom_id",
                "value": "={{ $json.classroom_id }}"
              },
              {
                "name": "source_filename",
                "value": "={{ $json.filename || 'GUIA TURBO - FISIOTERAPIA - FARMACOLOGIA.pdf' }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [200, 0],
      "name": "Buscar Documento do Supabase",
      "credentials": {
        "supabaseApi": {
          "id": "v8HbLT84CCDmBM8y",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [200, 200],
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2s6eKDYc5QrLBhxy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Agrupar chunks em seções\nconst chunks = items.map(item => ({\n  content: item.json.pageContent,\n  metadata: item.json.metadata\n}));\n\n// Organizar em uma seção única (simplificado)\nconst sections = [{\n  section_id: 1,\n  title: \"Conteúdo Completo\",\n  content: chunks.map(c => c.content).join('\\n\\n')\n}];\n\nconst presentationCode = $('Execute Workflow Trigger').first().json.presentation_code;\nconst filename = $('Execute Workflow Trigger').first().json.filename || 'GUIA TURBO - FISIOTERAPIA - FARMACOLOGIA.pdf';\nconst classroomId = $('Execute Workflow Trigger').first().json.classroom_id;\n\nreturn [{\n  json: {\n    type: 'document',\n    data: {\n      filename: filename,\n      classroom_id: classroomId,\n      total_sections: sections.length,\n      total_chunks: chunks.length,\n      sections: sections,\n      target_section: 1\n    },\n    presentation_code: presentationCode\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 0],
      "name": "Organizar em Seções"
    },
    {
      "parameters": {
        "url": "=https://gktqtgswqtjfsihvgbmu.supabase.co/rest/v1/rpc/send_to_presentation",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"p_code\": \"{{ $json.presentation_code }}\",\n  \"p_type\": \"{{ $json.type }}\",\n  \"p_data\": {{ JSON.stringify($json.data) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 0],
      "name": "Enviar para Apresentação (Supabase RPC)",
      "credentials": {
        "supabaseApi": {
          "id": "v8HbLT84CCDmBM8y",
          "name": "Supabase account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{"node": "Buscar Documento do Supabase", "type": "main", "index": 0}]]
    },
    "Buscar Documento do Supabase": {
      "main": [[{"node": "Organizar em Seções", "type": "main", "index": 0}]]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [[{"node": "Buscar Documento do Supabase", "type": "ai_embedding", "index": 0}]]
    },
    "Organizar em Seções": {
      "main": [[{"node": "Enviar para Apresentação (Supabase RPC)", "type": "main", "index": 0}]]
    }
  },
  "active": true
}
